*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

section{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid black;
}

.box{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid black;
    margin: 0 auto;
}

.box.jumbo{
    height: 500px;
    width: 90%;
}

.box.main{
    width: 70%;
    height: 300px;
}

.box.main.faq{
    height: 150px;
}

.box.partner{
    height: 500px;
}

.box.footer{
    width: 90%;
}
