/* HEADER */
header{
    height: 80px;
    line-height: 80px;
}

.navbar{
    width: 98%;
}

#logo{
    vertical-align: middle;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    padding-right: 30px;
}

#empty{
    width: calc(100% - 1000px);
    height: 80px;
}


#lgin-btn{
    line-height: 20px;
    padding: 4px 15px;
  }

/* JUMBOTRON */

#jumbotron{
    background-color: rgb(180, 208, 231);
    height: 600px;
}

.box.jumbo{
    width: 80%;
}

h1{
    font-size: 60px;
    padding-top: 5%;
}

#img-box{
    width: 60%;
}

#jumbo-img{
    width: 100%;
}

#free-trial{
    padding-top: 5%;
}

#free-trial p{
    padding-bottom: 5%;
}

#free-trial span{
    display: inline-block;
    font-size: 12px;
    padding: 5% 0;
}

.fa-arrow-down{
    font-size: 30px;
}