/* HEADER */
header{
    height: 80px;
    line-height: 80px;
}

.navbar{
    width: 98%;
    position: relative;
}

#logo{
    vertical-align: middle;
}

.navbar li{
    display: inline-block;
}

.navbar li:hover{
    border-bottom: 1px solid black;
}

.navbar a{
    padding-right: 30px;
}

#empty{
    width: calc(100% - 1000px);
    height: 80px;
}


#lgin-btn{
    line-height: 20px;
    padding: 4px 15px;
}

.bonus-1{
    opacity: 0;
    line-height: 40px;
    position: absolute;
    top: 80px;
    left: calc(100% - 480px);
    background-color: white;
}

.bonus-1 p{
    padding: 0 10px;
    margin: 0 auto;
    font-size: 14px;
}

.bonus-nav:hover .bonus-1{
    opacity: 1;
}

.bonus-1 p:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;;
}

/* JUMBOTRON */

#jumbotron{
    background-color: rgb(180, 208, 231);
    height: 600px;
}

.box.jumbo{
    width: 80%;
}

h1{
    font-size: 60px;
    padding-top: 5%;
}

.button.jumbo{
    margin: 20px 0;
}

.button.jumbo:hover{
    background-color: white;
    color: black;
    border: none;
}

#img-box{
    width: 60%;
}

#jumbo-img{
    width: 100%;
}

#free-trial{
    margin-top: 80px;
}

#free-trial span{
    display: inline-block;
    font-size: 12px;
    padding: 5% 0;
}

.fa-arrow-down{
    font-size: 30px;
}

/* COLUMNS SECTION */

/* columns head */
.column-head{
    border-bottom: 1px solid black;
    padding: 15px 0;
    text-align: center;
}

#radio-btn{
    padding-top: 40px;
    padding-bottom: 20px;
}

#radio-btn #annual{
    margin-left: 30px;
}

/* columns */
.list{
    width: 90%;
    margin: 0 auto;
}

.list h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

.list ul{
    list-style: none;
}

.box.main li:first-child{
    font-weight: bold;
}

.list-month{
    color: rgb(131, 144, 155);
    padding-top: 20px;
    padding-bottom: 70px;
}

.column{
    min-height: 1100px;
    width: 30%;
    border: 1px solid black;
}

.middle.column{
    margin: 0 5%;
}

.first.list{
    padding-bottom: 100px;
}

.list-items{
    padding: 10px 0;
}

.list-items.cbtn{
    text-align: center;
}

.list-items.cbtn a{
    padding: 10px 50px;
}

.buy-now{
    color: rgb(3, 99, 255);
    text-decoration: underline;
}

.fa-check{
    padding-right: 5px;
    color: rgb(0, 94, 255);
}
/* columns footer */
#columns-footer{
    margin-top: 30px;
    border: 1px solid black;
}

#columns-footer .clearfix{
    padding: 20px 0;
    width: 98%;
    margin: 0 auto;
}

#columns-footer h3{
    padding: 10px 0;
    display: inline-block;
}

#columns-footer a{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#columns-footer p{
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

#columns-footer h5, #columns-footer span{
    padding: 10px 0;
}

/* FIND A PARTNER SECTION */

#partner-img{
    width: 50%;
    margin-right: 10%;
}

#partner-img img{
    width: 100%;
}

#partner-text{
    padding-right: 10%;
}

#partner-text .partner.button:hover{
    background-color: rgb(0, 97, 255);
    color: white;
}

#partner-text h3{
    padding-top: 50px;
}

#partner-text a{
    background-color: white;
    border: 1px solid rgb(134, 134, 134);
    color: black;
}

#partner-text p, #partner-text span{
    padding: 40px 0;
}

/* DROPBOX BUSINESS SECTION */
.box.main h2{
    font-size: 40px;
    padding-bottom: 60px;
}

.business .float-left{
    width: calc(100% / 3);
    padding-right: 70px;
    padding-bottom: 100px;
}

.business img{
    width: 100%;
}

/* PARTNER SECTION */

.box.partner a{
    text-decoration: underline;
    color: rgb(12, 104, 255);
}
#partners-info{
    padding-top: 50px;
}
.box.partner.middle{
    min-width: 100px;
    background-color: rgb(245, 245, 245);
    height: 500px;
    overflow: scroll;
}

.box.partner.right, .box.partner.left{
    height: 500px;
}

.box.partner.right, .box.partner.left, .box.partner.middle{
    width: calc(100% / 3);
}

#partner-infobox{
    width: 70%;
    margin: 0 auto;
}

.box.partner.middle h4{
    font-size: 30px;
    padding-top: 40px;
}

.box.partner.middle p{
    padding-bottom: 60px;
}

.partner-img{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
}

.partner-img img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#designit{
    background-color: rgb(162, 211, 155);
}

#asu{
    background-color: rgb(97, 8, 43);
}

#florida{
    background-color: rgb(0, 147, 206);
}

#topps{
    background-color: rgb(255, 28, 28);
}

#wbr{
    background-color: rgb(213, 0, 31);
}

#hearst{
    background-color: rgb(180, 208, 231);
}

#lone{
    background-color: rgb(13, 36, 129);
}

#clear{
    background-color: rgb(255, 216, 48);
}

/* FAQ SECTION */
#second-free-trial{
    background-color: rgb(180, 208, 231);
    padding-bottom: 100px;
}

#second-free-trial .button:hover{
    background-color: rgb(0, 97, 255);
    color: white;
}

#second-free-trial h2{
    color: rgb(97, 8, 43);
}

#second-free-trial a{
    padding: 10px 60px;
    background-color: white;
    color: black;
    font-weight: bold;
}

#questions ul{
    list-style: none;
}

#questions li:first-child{
    font-size: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(223, 223, 225);
}

#questions li{
    cursor: pointer;
}

#questions{
    padding-bottom: 100px;
}

.faq-list{
    padding: 30px 0;
    border-bottom: 1px solid rgb(223, 223, 225);
    font-weight: bold;
}


/* FOOTER */

#footer{
    background-color: black;
}

#footer ul{
    list-style: none;
    width: 20%;
    padding: 100px 0;
}

#footer li:first-child{
    font-size: 25px;
}

#footer a{
    color: white;
}

#footer a:hover{
    text-decoration: underline;
}

#footer li{
    padding: 10px 0;
    font-size: 12px;
}

#chevron{
    padding-bottom: 50px;
}
