/* HEADER */
header{
    height: 80px;
    line-height: 80px;
}

.navbar{
    width: 98%;
}

#logo{
    vertical-align: middle;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    padding-right: 30px;
}

#empty{
    width: calc(100% - 1000px);
    height: 80px;
}


#lgin-btn{
    line-height: 20px;
    padding: 4px 15px;
  }

/* JUMBOTRON */

#jumbotron{
    background-color: rgb(180, 208, 231);
    height: 600px;
}

.box.jumbo{
    width: 80%;
}

h1{
    font-size: 60px;
    padding-top: 5%;
}

#img-box{
    width: 60%;
}

#jumbo-img{
    width: 100%;
}

#free-trial{
    padding-top: 5%;
}

#free-trial p{
    padding-bottom: 5%;
}

#free-trial span{
    display: inline-block;
    font-size: 12px;
    padding: 5% 0;
}

.fa-arrow-down{
    font-size: 30px;
}

/* COLUMNS SECTION */

/* columns head */
.column-head{
    border-bottom: 1px solid black;
    padding: 15px 0;
    text-align: center;
}

#radio-btn{
    padding-top: 40px;
    padding-bottom: 20px;
}

#radio-btn #annual{
    margin-left: 30px;
}

/* columns */
.list{
    width: 90%;
    margin: 0 auto;
}

.list h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

.list ul{
    list-style: none;
}

li:first-child{
    font-weight: bold;
}

.list-month{
    color: rgb(131, 144, 155);
    padding-top: 20px;
    padding-bottom: 70px;
}

.column{
    height: 1000px;
    width: 30%;
    border: 1px solid black;
}

.middle.column{
    margin: 0 5%;
}

.first.list{
    padding-bottom: 100px;
}

.list-items{
    padding: 10px 0;
}

.list-items.cbtn{
    text-align: center;
}

.list-items.cbtn a{
    padding: 10px 50px;
}

.buy-now{
    color: rgb(3, 99, 255);
    text-decoration: underline;
}

.fa-check{
    padding-right: 5px;
    color: rgb(0, 94, 255);
}
/* columns footer */
#columns-footer{
    margin-top: 30px;
    border: 1px solid black;
}

#columns-footer .clearfix{
    padding: 20px 0;
    width: 98%;
    margin: 0 auto;
}

#columns-footer h3{
    padding: 10px 0;
    display: inline-block;
}

#columns-footer a{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#columns-footer p{
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

#columns-footer h5, #columns-footer span{
    padding: 10px 0;
}



